p {
	margin-left: 12px;
}
.window{
				text-indent: 0.8em;
				width: 334px;
				height: 48px;
				font-family: GOST type B;
				font-size: 1.8em;
}
.window1{
				text-indent: 0.8em;
				width: 334px;
				height: 24px;				
}			

.numbers{
				width: 360px;
}
			
.button, button {
				width: 64px;
				height: 56px;
				text-align: center;
				margin-top:6px;
				box-shadow: 2px 2px 3px grey;
}
div {margin-top:6px;
	margin-left: 12px;
	display: inline-block;
	width: 340px;
}
			
.button2  {
			position: fixed;
			width: 180px;
			height: 56px;
			text-align: center;
}

.pushed {
	box-shadow: none;
	background: linear-gradient(to bottom right, BurlyWood, NavajoWhite);
}					